@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.title h2{
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.title {
    position: relative;
    text-align: center;
    bottom: -224px;
    
}

.title a {
    border: 1px solid white;
    color: white;
    padding: 10px 90px 10px 90px;
    border-radius: 86px;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    top: 80px;
}

.title span{
    color: red;
}

.title a:hover{
    border: 1px solid red;
    color: red;
}


.animate-charcter{
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #4d4d4d 0%,
    #ff0000 67%,
    #2c2c2c 29%,
    #fff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}